[submodule "ext/modm"]
	path = ext/modm
	url = https://github.com/modm-io/modm
[submodule "firmware/driver/lora"]
	path = firmware/driver/lora
	url = https://github.com/lmoesch/modm-lora
[submodule "firmware/driver/gps"]
	path = firmware/driver/gps
	url = https://github.com/lmoesch/modm-gps
[submodule "libs/trx/protocol"]
	path = libs/trx/protocol
	url = https://github.com/PRIM-EDV/trx-protocol
